{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

    {{ form_row(form.current_password, { label: 'Obecne hasło '}) }}
    {{ form_row(form.plainPassword.first, { label: 'Nowe hasło '}) }}
    {{ form_row(form.plainPassword.second, { label: 'Potwierdź hasło '}) }}
    <div>
        <input type="submit" class="btn btn-success" value="Zmień hasło" />
    </div>
{{ form_end(form) }}
