
{{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.isDone) }}

    {{ form_row(form.category) }}


    <button type="submit" class="btn btn-success" formnovalidate>Submit</button>

{{ form_end(form) }}