{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>Tytuł zadania</th>
            <th>Opis</th>
            <th>Kategoria</th>
            <th>Wykonane?</th>
            <th>Data edycji</th>
            <th>Data utworzenia</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        {% for task in app.user.tasks %}
            <tr id="task">
                <td><a href="{{ path('task_show', {slug: task.slug}) }}">{{ task.name }}</a></td>
                <td>{{ task.description|raw }}</td>
                <td>{{ task.category }}</td>
                {% if task.isDone %}
                    <td>Tak</td>
                {% else %}
                    <td>Nie</td>
                {% endif %}
                <td>{{ task.updatedAt|date('Y-m-d H:i:s') }}</td>
                <td>{{ task.createdAt|date('Y-m-d H:i:s') }}</td>
                <td><a href="{{ path('task_delete', {id: task.id}) }}" class="btn btn-danger js-task-delete">Usuń</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="7">Łączna liczba zadań: {{ app.user.tasks|length }}</td>
        </tr>
        </tfoot>
    </table>

{% endblock %}